*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   text-decoration: none;
}

/* container */

.container{
    max-width: 1440px;
  margin: 0 auto;  
  }
    
    
    
    
    /* header */
    
    .header{
        display: flex;
        justify-content: space-between;
    padding: 37px 84px;
    margin-bottom: 10px;
    }
    
    .logo img{
        height: 50px;
        height: 70px;
    }
    
    
    .header-nav{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .header-nav a{
        color: #262626;
        font-size: 14px;
        font-weight: 700;
        transition: 1s;
        padding: 8px 25px;
        border-radius: 40px;
    }
    
    .header-nav a:hover{
        background-color: #4ce0d7;
        padding: 8px 25px;
        border-radius: 40px;
    }
    
    
    
    .header-nav img{
        transition: 1s;
        cursor: pointer;
    }
    
    .header-nav img:hover{
    transform: scale(1.1);
    }
    
    .logo img{
        transition: 1s;
    }
    
    .logo img:hover{
        transform:scaleX(1.1);
       
    }



    /* first section */

  .first-section{
    padding: 0 84px;
  }

  .background{
    background-image: url(./assets/woman\ pic.png);
    padding: 218px 0 145px 53px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: 1s;
  }



  .background:hover{
    transform: scaleY(0.9);
  }

  .background h3{
    font-size: 12px;
    font-weight: 700;
    color: white;
    font-family: "poppins";
 
font-weight: 700;
font-size: 12px;
line-height: 18px;
letter-spacing: 23%;

  }

  .background h1{
    font-size: 46px;
    font-weight: 400;
    font-family: "poppins";
    color: white;
  }

  .background p{
    font-size: 20px;
    font-weight: 400;
    color: white;
    max-width: 495px;
    font-family: "poppins";
  }

  span{



 
    font-size: 48px;
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    -webkit-background-clip: text; 
    background-clip: text;          
    color: transparent;    
    transition: 1s;         
  


  }
  span:hover{
    color: #4CE0D7
  }
  

  .background span{
    font-weight: 700;
  }

  /* Cards */




  .cards{
    display: flex;
    flex-direction: row;
    gap: 10px;
  margin-top: 20px;
   

  
  }


  
  
.topicstitle{
  margin-top: 60px;
}


  .second-section{
    padding: 0 84px;
    margin-top: 50px;
  }

.card1{
  box-shadow: 0px 6px 6px 0px #0000000D;
  background-color: white;
  width: max-content;
 border-radius: 20px;
 display: flex; 
 flex-direction: column;
 align-items: center;
 gap: 30px;
 padding:  51px 50px 137px 68px;
 width: 204px;
height: 291px;

font-family: "Poppins";
font-weight: 700;
font-size: 20px;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
color: #262626;
transition: 1s;




}
.card2{
  box-shadow: 0px 6px 6px 0px #0000000D;
  background-color: white;
  width: max-content;
 border-radius: 20px;
 display: flex; 
 flex-direction: column;
 align-items: center;
 gap: 30px;
 padding:  51px 50px 137px 68px;
 width: 204px;
 height: 291px;
 font-family: "Poppins";
font-weight: 700;
font-size: 20px;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
color: #262626;
transition: 1s;
}
.card3{
  box-shadow: 0px 6px 6px 0px #0000000D;
  background-color: white;
  width: max-content;
 border-radius: 20px;
 display: flex; 
 flex-direction: column;
 align-items: center;
 gap: 30px;
 padding:  51px 50px 137px 68px;
 width: 204px;
 height: 291px;
 font-family: "Poppins";
font-weight: 700;
font-size: 20px;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
color: #262626;
transition: 1s;
}
.card4{
  box-shadow: 0px 6px 6px 0px #0000000D;
  background-color: white;
  width: max-content;
 border-radius: 20px;
 display: flex; 
 flex-direction: column;
 align-items: center;
 gap: 30px;
 padding:  51px 50px 137px 68px;
 width: 204px;
 height: 291px;
 font-family: "Poppins";
font-weight: 700;
font-size: 20px;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
color: #262626;
transition: 1s;
}
.card5{
  box-shadow: 0px 6px 6px 0px #0000000D;
  background-color: white;
  width: max-content;
 border-radius: 20px;
 display: flex; 
 flex-direction: column;
 align-items: center;
 gap: 30px;
 padding:  51px 50px 137px 68px;
 width: 204px;
 height: 291px;
 font-family: "Poppins";
font-weight: 700;
font-size: 20px;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
color: #262626;
transition: 1s;
}

.card6{
  box-shadow: 0px 6px 6px 0px #0000000D;
  background-color: white;
  width: max-content;
 border-radius: 20px;
 display: flex; 
 flex-direction: column;
 align-items: center;
 gap: 30px;
 padding:  51px 50px 137px 68px;
 width: 204px;
 height: 291px;
 font-family: "Poppins";
 font-weight: 700;
 font-size: 20px;
 line-height: 30px;
 letter-spacing: 0%;
 text-align: center;
color: #262626;
transition: 1s;
}







.card2 img{

  width: 103px;
  height: 103px;
}


.card1 img{

  width: 103px;
  height: 103px;
}

.card3 img{

  width: 103px;
  height: 103px;
}

.card4 img{

  width: 103px;
  height: 103px;
}
.card5 img{

  width: 103px;
  height: 103px;
}

.card6 img{

  width: 103px;
  height: 103px;
}

.card6 h2{
  width: 240px;
}


.card1 button{
  width: 150px;
  padding: 10px 40px;
  border-radius: 40px;
  color: #262626;
  background: #4CE0D7;
  transition: 1s;
  border: 1px #4CE0D7;;;

}


.card2 button{
  width: 150px;
  padding: 10px 40px;
  border-radius: 40px;
  color: #262626;
  background: #4CE0D7;
  transition: 1s;
  border: 1px #4CE0D7;;;

}

.card3 button{
  width: 150px;
  padding: 10px 40px;
  border-radius: 40px;
  color: #262626;
  background: #4CE0D7;
  transition: 1s;
  border: 1px #4CE0D7;;;

}


.card4 button{
  width: 150px;
  padding: 10px 40px;
  border-radius: 40px;
  color: #262626;
  background: #4CE0D7;
  transition: 1s;
  border: 1px #4CE0D7;;;

}
.card5 button{
  width: 150px;
  padding: 10px 40px;
  border-radius: 40px;
  color: #262626;
  background: #4CE0D7;
  transition: 1s;
  border: 1px #4CE0D7;;;

}
.card6 button{
  width: 150px;
  padding: 10px 40px;
  border-radius: 40px;
  color: #262626;
  background: #4CE0D7;
  transition: 1s;
  border: 1px #4CE0D7;;;


}

.card1:hover{
  transform: scale(1.1);
  cursor: pointer;
  
}

.card2:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.card3:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.card4:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.card5:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.card6:hover{
  transform: scale(1.1);
  cursor: pointer;
}


.card1 button:hover{
  background-color: white;
  color: #4CE0D7;;
  cursor: pointer;

}

.card2 button:hover{
  background-color: white;
  color: #4CE0D7;;
  cursor: pointer;
 
}


.card3 button:hover{
  background-color: white;
  color: #4CE0D7;;
  cursor: pointer;
}


.card4 button:hover{
  background-color: white;
  color: #4CE0D7;;
  cursor: pointer;
}

.card4 button:hover{
  background-color: white;
  color: #4CE0D7;;
  cursor: pointer;
}



.card5 button:hover{
  background-color: white;
  color: #4CE0D7;;
  cursor: pointer;
}


.card6 button:hover{
  background-color: white;
  color: #4CE0D7;;
  cursor: pointer;
}



.card1 h2{
  font-size: 20px;
}



.card2 h2{
  font-size: 20px;
}



.card3 h2{
  font-size: 20px;
}



.card4 h2{
  font-size: 20px;
}



.card5 h2{
  font-size: 20px;
}


.card6 h2{
  font-size: 20px;
}